<div *ngIf="showLayout()">
  <mat-toolbar class="mat-elevation-z3 toolbar">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <img src="assets/logo.png" class="img-logo">
    <span class="example-spacer"></span>

    <div *ngIf="showUser" class="user-info">
      <span>Bem Vindo, {{nameUser}}</span>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="personMenu">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Definição do menu -->
  <mat-menu #personMenu="matMenu">
    <button mat-menu-item routerLink='/auth/login' *ngIf="!showUser">Login</button>
    <button mat-menu-item (click)="sair()" *ngIf="showUser">Sair</button>
  </mat-menu>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
      <app-sidnav [collapsed]="collapsed()"></app-sidnav>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!showLayout()" class="no-layout">
  <router-outlet></router-outlet>
</div>
