.mat-sidenav-content {
  transition: margin-left 0.3s;
  padding: 16px;
}

.mat-sidenav {
  border: 0;
}

mat-toolbar {
  position: relative;
  z-index: 5;
  background-color: #1F1C1D;
  color: white;
}

mat-sidenav-container {
  height: calc(100vh - 60px);
  background-color: #8abf92;
}

.img-logo {
  height: 4rem;
  width: 9rem;
}
.example-spacer {
  flex: 1 1 auto;
}
